In [1]:
import pandas as pd
import sys
import os
sys.path.insert(0,'../scripts/')
from shapely.geometry import box, Point, Polygon 
from lidar_package import PythonLidarPackage
from IPython.display import Markdown, display, Image 
from fetch_lidar import Lidar_Data_Fetch

In [2]:
meta_data = pd.read_csv('../data/meta_data3.csv')

In [3]:
meta_data.head()

,filename,region,year,xmin,xmax,ymin,ymax,points
0,AK_BrooksCamp_2012,AK_BrooksCamp,2012.0,-17347360.0,-17321558.0,8065364.0,8091166.0,529285317
1,AK_Coastal_2009,AK_Coastal,2009.0,-15730544.0,-15691854.0,10937407.0,10976097.0,55711772
2,AK_Fairbanks-NSBorough_2010,AK_Fairbanks-NSBorough,2010.0,-16471700.0,-16381190.0,9519129.0,9609639.0,1266097458
3,AK_Juneau_2012,AK_Juneau,2012.0,-15014449.0,-14943073.0,8012267.0,8083643.0,2211557952
4,AK_Kenai_2008,AK_Kenai,2008.0,-16906356.0,-16570284.0,8303726.0,8639798.0,14054081685

In [8]:

MINX, MINY, MAXX, MAXY = [-93.756155, 41.918015, -93.747334, 41.921429]

polygon = Polygon(((MINX, MINY), (MINX, MAXY),
                   (MAXX, MAXY), (MAXX, MINY), (MINX, MINY)))
epsg = 4326

In [9]:
lidarPkg = PythonLidarPackage(epsg)

In [10]:
result = lidarPkg.get_elevation_df(polygon, False, False)

trying to Fetch elevation data for year Unknown from file_name IA_FullState...
trying to Fetch elevation data for year 2009 from file_name NE_Rainwater-2_2009...
trying to Fetch elevation data for year 2010 from file_name SD_James_River_NRCS_J_2010...
trying to Fetch elevation data for year 2012 from file_name SD_Spink_County_2012...
trying to Fetch elevation data for year 2017 from file_name USGS_LPC_NE_NRCS_OrthoLidar_B2_2017_LAS_2019...
trying to Fetch elevation data for year 2016 from file_name USGS_LPC_NE_Hat_White_Cherry_UTM14_2016_LAS_2019...